.notfound-image {
  height: 60%;
  width: 30%;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.app-container {
  height: 100vh;
  background-size: cover;
  background-color: #ffffffff;
}

.notfound-heading {
  color: #1e293b;
}

.notfound-description {
  color: #64748b;
  font-weight: bold;
  font-size: 15px;
}
